*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;  
}

body{
    background: lightgray;
}

.cal-body{
    background-color: #243441;
    width: fit-content;
    margin:10% auto;
    border-radius: 15px;
    overflow: hidden;
}

/* .key-pad .r1{grid-area: r1 ;}
.key-pad .r2{grid-area: r2 ;}
.key-pad .r3{grid-area: r3 ;}
.key-pad .r4{grid-area: r4 ;}
.key-pad .r5{grid-area: r5 ;} */

.key-pad{
    /* width: 100px; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px 10px;
}

.col-3-5{
    grid-column: 3/5;
    width: initial !important;
}

.btn{
    margin: 5px;
    padding: 20px;
    width: 60px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius:5px;
    background-color: #243441;
    box-shadow: 1px 2px 3px #1c2c39, 
                1px -2px 3px rgba(175, 175, 175, 0.075),
                inset 0px 0px 5px rgba(238, 238, 238, 0.021);
    color: lightblue;

    transition: .5s;
}

.btn:hover{
    background-color: #1c2c39;
    color: white;
}

.btn:active{
    transform:translateX(0px) translateY(1px);
}

.operation{
    color: #ed802e;
}

.eql{
    background-color: #ed802e;
    color: white;
}  

.eql:hover{
    background-color: #a7571a;
}

#display{
    min-width: 100%;
    border: none;
    background: #243441;
    padding: 20px 15px;
    font-size: 24px;
    text-align: right;
    outline: none;
    color: lightblue;
}